{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 70,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./styles/globals.css",
  "tailwindFunctions": ["cn"]
}
