@font-face {
  font-family: 'Fat';
  font-style: bold;
  font-weight: 700;
  src: local('Fat'),
    url('./FREEFATFONT-Slanted.woff2') format('woff2');
}

@font-face {
  font-family: 'Andale Mono';
  font-style: normal;
  font-weight: 200;
  src: local('Andale Mono'),
    url('./AndaleMono.woff2') format('woff2');
}
